[submodule "fo"]
	path = fo
	url = https://github.com/kfgabiz-lab/ge-fo
	branch = master
[submodule "bo-api"]
	path = bo-api
	url = https://github.com/kfgabiz-lab/ge-api
	branch = master
[submodule "bo"]
	path = bo
	url = https://github.com/kfgabiz-lab/ge-bo
	branch = master
[submodule "lse-na-api"]
	path = lse-na-api
	url = http://10.153.10.150:4000/lse-na/lse-na-api.git
	branch = master
[submodule "lse-na-fo"]
	path = lse-na-fo
	url = http://10.153.10.150:4000/lse-na/lse-na-fo.git
	branch = master
[submodule "lse-na-bo"]
	path = lse-na-bo
	url = http://10.153.10.150:4000/lse-na/lse-na-bo.git
	branch = master
